extends layout

block content
	ol.breadcrumb
		li
			a(href="/") Home
		li
			a(href="/reports") Reports
		li.active
			#{report.REPORT_ID}

	h2 
		if report.SOLVED == false
			span.label.label-danger UNSOLVED
		else
			span.label.label-success SOLVED

		| Report ##{report.REPORT_ID}

	table.table.table-striped.table-hover
		tr
			th KEY
			th VALUE
		each val, key in report
			tr
				td #{key}
				td 
					pre #{val}
